body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #6E6E6A;
  overflow-x: hidden;
  background-color: #D9D9D9;;
}

a{
  text-decoration: none;
  color: white;
}

.hero, .features, .testimonials, .call-to-action {
  padding: 2em;
  text-align: center;
}

.cta-block{
  display: inline-flex;
  gap: 40px;
}

.cta-button {
  background-color: #10263C;
  color: #EAEBED;
  padding: 1em 1.8em;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}
.cta-secondary-button {
  background-color: transparent;
  color: #EAEBED;
  padding: 1em 1.8em;
  font-size: 12px;
  border:1px solid #EAEBED;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 30px !important;
  transition: background-color 0.3s ease;
}

.aboutusContent {
  margin: 100px 100px;
  text-align: justify;
}

.feature-card {
  margin: 1em;
  padding: 1.5em;
  border: 1px solid #eee;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.watchCollection{
  display: flex;
}

.features-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonials blockquote {
  font-size: 1.2em;
  color: #666;
}

.howItWorkContainer{
  margin-left: 100px;
}

.alignCenterWithSpace {
  margin: 70px auto;
  display: table;
}
